TEST_DATABASE_URL=postgres://postgres:postgres@db:5432/
TEST_DATABASE_NAME=organizational_chart_test

DEV_DATABASE_URL=postgres://postgres:postgres@db:5432/
DEV_DATABASE_NAME=organizational_chart_development

PROD_DATABASE_URL=postgres://postgres:postgres@db:5432/
PROD_DATABASE_NAME=organizational_chart_production

SIDEKIQ_WORKERS=20
SIDEKIQ_USER=admin@admin.com
SIDEKIQ_PASSWORD=123456

REDIS_URL=redis://redis:6379/10

RAILS_ENV=development
